#mainScreen {
    margin: 0;
    padding: 20px;
}
#listContainer {
    overflow: auto;
}
#missionList tr th {
    text-align: center;
}
#list {}
#list .mission {border: 1px solid #ccc;}
#list .mission td:first-child {
    width: 42px;
}
#list .mission.selected {background-color: #9cf;}
#list .mission:first-child {
}
#list .mission:last-child {
    border-bottom: 1px solid #ccc;
}
#list .mission:first-child .image {
}
#list .mission:last-child .image {
}
#list .mission .image {
    align-self: center;
}
#list .mission .image {
    width: 42px;
    height: 24px;
}
#list .mission .title {
    padding-left: 5px;
    flex-grow: 1;
    font-weight: bold;
}
#list .mission .info {
    flex-basis: 50%;
    display: none;
}
#list .mission .download, #list .mission .rate,
#list .mission .difficulty, #list .mission .rating {
    text-align: center;
}
#listPanel {
    display: flex;
    flex-direction: column;
}
ul.pagination {
    display: flex;
    align-content: stretch;
}
li.pagination-autosizing {
    max-width: 400px;
    overflow-x: hidden;
}
ul.pagination-inner {
    display: inline;
}
