<h1>Pretend there's a frontend here.</h1><br>
So I may have nuked the old backend to this.
Fancy new frontend can be seen <a href="/missions">here</a> if you really care though.<br>
If you're feeling lucky, try a <a href="/api/missions/{{ random }}/zip">random mission</a>.
Who knows, it may actually be a good one.
